<h1>Your links</h1>
 <% @links.each do |link| %>

      <h2>Shortenized URL: localhost:3000/<%= link.slug %></h2>
      <h2>Genuine URL: <%= link.target_url %></h2>
      <h3>Created at: <%= link.created_at %></h3>
      <%= link_to 'edit this link', "/links/#{link.id}/edit" %>
      <br>
      <%= link_to 'delete this link', "/links/#{link.id}", method: :delete %>
      <br>
      <%= link_to 'See visits for this link', "/visits/#{link.id}" %>
  <% end %>