<% if @link.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@link.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
    <% @link.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h1>Shorten your URL!</h1>

<%= form_tag '/links', method: :post do %>
  <div>
    <%= label_tag :target_url %>
    <%= text_field_tag :target_url %>
  </div>
  <div>
    <%= submit_tag 'Shortenize My Url!', class: 'btn btn-default' %>
  </div>

<% end %>